:root {
	--bg: #282c34;
	--header: #fff;
	--link: #61dafb;
	--text: hsla(0, 0%, 100%, 0.88);
}

.storeContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.productImage {
	width: 20;
	height: 250;
}

.tHead {
	background-color: rgb(230, 230, 230);
}

.customDropdown .chakra-select__listbox {
	max-height: 200px;
	overflow-y: auto;
}
